doctype html
html
    head
        style
            include style-email.css
        body
            div.header
                h2 Welcome
            div
                block welcome_content
            div.footer
                |Best regards
                br
                a(href='https://google.com') Click here!